:root {
  --primary: #327680;
  --accentColor: #ed6852;
  --borderColor: #becacb;
  --dividerColor: #eaeeee;

  --textColor: #244d51;
  --secondaryTextColor: #91a5a7;
  --additionalTextColor: #668386;
  --reverseTextColor: #ffffff;
  --shadowColor: #706e6c;
}
