:root {
  --primary: #327680;
  --accentColor: #ED6852;
  --borderColor: #BECACB;
  --dividerColor: #EAEEEE;

  --textColor: #244D51;
  --secondaryTextColor: #91A5A7;
  --additionalTextColor: #668386;
  --reverseTextColor: #ffffff
}
