@import '../../styles/variables.css';

.container {
  display: inline-block;
  composes: regularText from global;
}

.input {
  composes: hidden from '../../styles/hidden.module.css';
}

.radio {
  position: relative;
  display: inline-block;
  width: 12px;
  height: 9px;
  margin-right: 8px;
  box-sizing: border-box;
}

.radio::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 9px;
  background: no-repeat center center url('../../icons/checked.svg');
  opacity: 0;
  transition: opacity 50ms ease;
  transform: translate(-50%, -50%);
}

.input:checked + .radio::before {
  opacity: 1;
}

.radioLabel {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radioText {
  padding: 0 4px;
}
